<template>

    <!--markup footer-->
    <footer class="footer footer-main">
        <div class="footer_top_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="widget widget_text appear-animation fadeInDown appear-animation-visible" data-appear-animation="fadeInDown" data-appear-animation-delay="1150" style="-webkit-animation: 1150ms;">
                            <a href="index.html" class="logo"><img src="images/logo_main.png" alt=""></a>
                            <p>Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla. Quisque diam lorem, interdum. vitae, dapibus ac.</p> <br>
                            <p>Scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor
                                pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="widget widget_categories appear-animation fadeInDown appear-animation-visible" data-appear-animation="fadeInDown" data-appear-animation-delay="1150" style="-webkit-animation: 1150ms;">
                            <h3 class="widget_title">Popular Categories</h3>
                            <ul class="categories_list">
                                <li>
                                    <ul>
                                        <li><a href="#">Health</a><span>12</span></li>
                                        <li><a href="#">Business</a><span>25</span></li>
                                        <li><a href="#">Sport</a><span>7</span></li>
                                        <li><a href="#">Travel</a><span>95</span></li>
                                        <li><a href="#">Fashion</a><span>43</span></li>
                                        <li><a href="#">Music</a><span>5</span></li>
                                        <li><a href="#">Culture</a><span>12</span></li>
                                        <li><a href="#">Lifestyle</a><span>25</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="widget widget_categories appear-animation fadeInDown appear-animation-visible" data-appear-animation="fadeInDown" data-appear-animation-delay="1150" style="-webkit-animation: 1150ms;">
                            <h3 class="widget_title">Custom Menu</h3>
                            <ul class="categories_list">
                                <li>
                                    <ul>
                                        <li><a href="#">Health</a><span>12</span></li>
                                        <li><a href="#">Business</a><span>25</span></li>
                                        <li><a href="#">Sport</a><span>7</span></li>
                                        <li><a href="#">Travel</a><span>95</span></li>
                                        <li><a href="#">Fashion</a><span>43</span></li>
                                        <li><a href="#">Music</a><span>5</span></li>
                                        <li><a href="#">Culture</a><span>5</span></li>
                                        <li><a href="#">Lifestyle</a><span>5</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="widget widget_newsletter form_section appear-animation fadeInDown appear-animation-visible" data-appear-animation="fadeInDown" data-appear-animation-delay="1150" style="-webkit-animation: 1150ms;">
                            <h3 class="widget_title">Newsletter Sign Up</h3>
                            <div class="form_text">Sign up to our newsletter and get exclusive deals you will not find anywhere else straight to your inbox!</div>
                            <form id="newsletter">
                                <button type="submit" class="btn-email button button_white" data-type="submit"><i class="fa fa-envelope-o"></i></button>
                                <div class="wrapper">
                                    <input type="email" placeholder="Your email address" name="newsletter-email">
                                </div>
                            </form>
                        </div>
                        <div class="widget widget_social_icons clearfix appear-animation fadeInDown appear-animation-visible" data-appear-animation="fadeInDown" data-appear-animation-delay="1150" style="-webkit-animation: 1150ms;">
                            <h3 class="widget_title">Stay Connected</h3>
                            <ul>
                                <li class="facebook">
                                    <span class="tooltip">Facebook</span>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <span class="tooltip">Twitter</span>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="google_plus">
                                    <span class="tooltip">Google+</span>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="rss">
                                    <span class="tooltip">Rss</span>
                                    <a href="#">
                                        <i class="fa fa-rss"></i>
                                    </a>
                                </li>
                                <li class="pinterest">
                                    <span class="tooltip">Pinterest</span>
                                    <a href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <span class="tooltip">Instagram</span>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <span class="tooltip">LinkedIn</span>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li class="vimeo">
                                    <span class="tooltip">Vimeo</span>
                                    <a href="#">
                                        <i class="fa fa-vimeo-square"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <span class="tooltip">Youtube</span>
                                    <a href="#">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                                <li class="flickr">
                                    <span class="tooltip">Flickr</span>
                                    <a href="#">
                                        <i class="fa fa-flickr"></i>
                                    </a>
                                </li>
                                <li class="envelope">
                                    <span class="tooltip">Contact Us</span>
                                    <a href="#">
                                        <i class="fa fa-envelope-o"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer middle part-->
        <div class="footer_middle_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="widget widget_flickr clearfix" data-appear-animation="fadeInDown" data-appear-animation-delay="1150">
                            <h3 class="widget_title">Flickr Photos</h3>
                            <ul id="basicuse_3" class="thumbs"></ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="widget widget_latest_tweets" data-appear-animation="fadeInDown" data-appear-animation-delay="1150">
                            <h3 class="widget_title">Latest Tweets</h3>
                            <!--tweet list-->
                            <div class="tweets"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--copyright part-->
        <div class="footer_bottom_part">
            <div class="container clearfix">
                <p>&copy; 2014 <span>Revija</span>. All Rights Reserved.</p>
                <div class="mobile_menu var2">
                    <nav>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Sport</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Forums</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>


</template>

<script>
  export default {
    name: 'AppFooter',
    components: {

    }
  }
</script>
