<template>
    <header role="banner" class="header header-main">
        <div class="h_top_part">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="header_top mobile_menu var2">
                            <nav>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Forums</a></li>
                                    <li><a href="#">Shop</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                            <div class="login_block">
                                <ul>
                                    <!--Login-->
                                    <li class="login_button">
                                        <a href="#" role="button"><i class="fa fa-user login_icon"></i>Login</a>
                                        <div class="popup">
                                            <form>
                                                <ul>
                                                    <li>
                                                        <label for="username">Username</label><br>
                                                        <input type="text" name="" id="username">
                                                    </li>
                                                    <li>
                                                        <label for="password">Password</label><br>
                                                        <input type="password" name="" id="password">
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" id="checkbox_10"><label for="checkbox_10">Remember me</label>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="button button_orange">Log In</a>
                                                        <div class="t_align_c">
                                                            <a href="#" class="color_dark">Forgot your password?</a><br>
                                                            <a href="#" class="color_dark">Forgot your username?</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </form>
                                            <section class="login_footer">
                                                <h3>New Customer?</h3>
                                                <a href="#" class="button button_grey">Create an Account</a>
                                            </section>
                                        </div>
                                    </li>
                                    <!--language settings-->
                                    <li class="lang_button">
                                        <a role="button" href="#"><img src="images/flag_en.jpg" alt=""><span>English</span></a>
                                        <ul class="dropdown_list">
                                            <li><a href="#"><img src="images/flag_en.jpg" alt="">English</a></li>
                                            <li><a href="#"><img src="images/flag_g.jpg" alt="">German</a></li>
                                            <li><a href="#"><img src="images/flag_s.jpg" alt="">Spanish</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h_bot_part">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="clearfix">
                            <a href="index.html" class="f_left logo"><img src="images/logo_main.png" alt=""></a>
                            <a href="#" class="f_right"><img src="images/728x90.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--main menu container-->
        <div class="menu_wrap">
            <div class="menu_border">
                <div class="container clearfix menu_border_wrap">
                    <!--button for responsive menu-->
                    <button id="menu_button">
                        Menu
                    </button>
                    <!--main menu-->
                    <nav role="navigation" class="main_menu menu_var2">
                        <ul>
                            <li class="current"><a href="#">Home<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>
                                <!--sub menu-->
                                <div class="sub_menu_wrap clearfix">
                                    <div>
                                        <div>Homepage Layouts</div>
                                        <ul>
                                            <li class="current"><a href="index.html">Home 1</a></li>
                                            <li><a href="home_2.html">Home 2</a></li>
                                            <li><a href="home_3.html">Home 3</a></li>
                                            <li><a href="home_4.html">Home 4</a></li>
                                            <li><a href="home_5.html">Home 5</a></li>
                                            <li><a href="home_6.html">Home 6</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <div>Header Styles</div>
                                        <ul>
                                            <li><a href="index.html">Header 1</a></li>
                                            <li><a href="home_2.html">Header 2</a></li>
                                            <li><a href="home_3.html">Header 3</a></li>
                                            <li><a href="home_4.html">Header 4</a></li>
                                            <li><a href="home_5.html">Header 5</a></li>
                                            <li><a href="home_6.html">Header 6</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <div>Footer Styles</div>
                                        <ul>
                                            <li><a href="index.html">Footer 1</a></li>
                                            <li><a href="home_2.html">Footer 2</a></li>
                                            <li><a href="home_3.html">Footer 3</a></li>
                                            <li><a href="home_4.html">Footer 4</a></li>
                                            <li><a href="home_5.html">Footer 5</a></li>
                                            <li><a href="home_6.html">Footer 6</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu_1"><a href="#">Business<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>

                            </li>
                            <li class="menu_2"><a href="#">Sport<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>

                            </li>
                            <li class="menu_3"><a href="#">Health<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>

                            </li>
                            <li class="menu_4"><a href="#">Pages<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>
                                <!--sub menu-->
                                <div class="sub_menu_wrap type_2 clearfix">
                                    <ul>
                                        <li><a href="page_full_width.html">Full width page</a></li>
                                        <li><a href="page_author.html">Author page</a></li>
                                        <li><a href="page_about.html">About us</a></li>
                                        <li><a href="page_contributors.html">Contributors</a></li>
                                        <li><a href="page_contact.html">Contact</a></li>
                                        <li><a href="page_404.html">404 page</a></li>
                                        <li><a href="page_archives.html">Archives</a></li>
                                        <li><a href="page_tags.html">Tags</a></li>
                                        <li><a href="page_search_results.html">Search results</a></li>
                                        <li><a href="page_sitemap.html">Sitemap</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu_5"><a href="#">Features<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>
                                <!--sub menu-->
                                <div class="sub_menu_wrap type_2 clearfix">
                                    <ul>
                                        <li><a href="features_elements.html">Elements</a></li>
                                        <li><a href="features_typography.html">Typography</a></li>
                                        <li><a href="features_columns.html">Columns</a></li>
                                        <li><a href="index_rtl.html">RTL layout</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu_6"><a href="#">Blog<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>
                                <!--sub menu-->
                                <div class="sub_menu_wrap type_2 clearfix">
                                    <ul>
                                        <li><a href="#">Category layouts<span class="plus"><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></span></a>
                                            <!--sub menu-->
                                            <div class="sub_menu_wrap sub_menu_inner type_2 clearfix">
                                                <ul>
                                                    <li><a href="blog_simple_post.html">Simple post<span class="plus"><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></span></a>
                                                        <!--sub menu-->
                                                        <div class="sub_menu_wrap sub_menu_inner_2 type_2 clearfix">
                                                            <ul>
                                                                <li><a href="#">Sub 1</a></li>
                                                                <li><a href="#">Sub 2</a></li>
                                                                <li><a href="#">Sub 3</a></li>
                                                                <li><a href="#">Sub 4</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>                            <li><a href="blog_category2.html">Category layout 2</a></li>
                                                    <li><a href="blog_category3.html">Category layout 3</a></li>
                                                    <li><a href="blog_category4.html">Category layout 4</a></li>
                                                    <li><a href="blog_category5.html">Category layout 5</a></li>
                                                    <li><a href="blog_category6.html">Category layout 6</a></li>
                                                    <li><a href="blog_category7.html">Category layout 7</a></li>
                                                    <li><a href="blog_category8.html">Category layout 8</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">Post layouts & formats<span class="plus"><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></span></a>
                                            <!--sub menu-->
                                            <div class="sub_menu_wrap sub_menu_inner type_2 clearfix">
                                                <ul>
                                                    <li><a href="blog_simple_post.html">Simple post</a></li>
                                                    <li><a href="blog_full_width_post.html">Full width post</a></li>
                                                    <li><a href="blog_featured_post.html">Extended featured image post</a></li>
                                                    <li><a href="blog_gallery_post.html">Gallery post</a></li>
                                                    <li><a href="blog_slideshow_post.html">Slideshow post</a></li>
                                                    <li><a href="blog_spotlight_post.html">Post with spotlight</a></li>
                                                    <li><a href="blog_video_post.html">Video post</a></li>
                                                    <li><a href="blog_audio_post.html">Audio post</a></li>
                                                    <li><a href="blog_review_post.html">Review post</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu_7"><a href="#">Portfolio<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>
                                <!--sub menu-->
                                <div class="sub_menu_wrap type_2 clearfix">
                                    <ul>
                                        <li><a href="#">Portfolio layouts<span class="plus"><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></span></a>
                                            <!--sub menu-->
                                            <div class="sub_menu_wrap sub_menu_inner type_2 clearfix">
                                                <ul>
                                                    <li><a href="portfolio_1column_with_sidebar.html">1 Column With Sidebar</a></li>
                                                    <li><a href="portfolio_2columns.html">2 Columns</a></li>
                                                    <li><a href="portfolio_2columns_with_sidebar.html">2 Columns With Sidebar</a></li>
                                                    <li><a href="portfolio_3columns.html">3 Columns</a></li>
                                                    <li><a href="portfolio_3columns_with_sidebar.html">3 Columns With Sidebar</a></li>
                                                    <li><a href="portfolio_4columns.html">4 Columns</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">Gallery layouts<span class="plus"><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></span></a>
                                            <!--sub menu-->
                                            <div class="sub_menu_wrap sub_menu_inner type_2 clearfix">
                                                <ul>
                                                    <li><a href="gallery_2columns.html">2 columns</a></li>
                                                    <li><a href="gallery_3columns.html">3 columns</a></li>
                                                    <li><a href="gallery_4columns.html">4 columns</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">Post layouts & formats<span class="plus"><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></span></a>
                                            <!--sub menu-->
                                            <div class="sub_menu_wrap sub_menu_inner type_2 clearfix">
                                                <ul>
                                                    <li><a href="image_gallery_post.html">Image gallery post</a></li>
                                                    <li><a href="image_slideshow_post.html">Image slideshow post</a></li>
                                                    <li><a href="extended_image_slideshow_post.html">Extended image slideshow post</a></li>
                                                    <li><a href="youtube_video_playlist_post.html">Youtube video playlist post</a></li>
                                                    <li><a href="vimeo_video_playlist_post.html">Vimeo video playlist</a></li>
                                                    <li><a href="video_slideshow_post.html">Video slideshow post</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu_8"><a href="#">Buddypress<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>
                                <!--sub menu-->
                                <div class="sub_menu_wrap type_2 clearfix">
                                    <ul>
                                        <li><a href="#">Forums<span class="plus"><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></span></a>
                                            <!--sub menu-->
                                            <div class="sub_menu_wrap sub_menu_inner type_2 clearfix">
                                                <ul>
                                                    <li><a href="forum_front_page.html">Front page</a></li>
                                                    <li><a href="forum_topics_page.html">Topics page</a></li>
                                                    <li><a href="forum_single_topic_page.html">Single topic page</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="buddypress_activity.html">Activity</a></li>
                                        <li><a href="buddypress_groups.html">Groups</a></li>
                                        <li><a href="buddypress_members.html">Members</a></li>
                                        <li><a href="buddypress_single_member.html">Single member</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu_9"><a href="#">Shop<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>
                                <!--sub menu-->
                                <div class="sub_menu_wrap type_2 clearfix">
                                    <ul>
                                        <li><a href="shop_front_page_with_sidebar.html">Front page with sidebar</a></li>
                                        <li><a href="shop_full_width_front_page.html">Full width front page</a></li>
                                        <li><a href="shop_product_page.html">Product page</a></li>
                                        <li><a href="shop_shoping_cart.html">Shopping cart</a></li>
                                        <li><a href="shop_checkout.html">Checkout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="search-holder">
                        <div class="search_box">
                            <div class="shopping_button button_orange_hover">
                                <button class="shop_button button">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                                <div class="shopping_cart">
                                    <div class="sc_header">Recently added item(s)</div>
                                    <div class="products_list">
                                        <ul>
                                            <li>
                                                <div>
                                                    <!--product image-->
                                                    <img src="images/shopping_c_img_1.jpg" alt="">
                                                    <!--product description-->
                                                    <div class="product_description">
                                                        <a href="#">Cursus eleifend elit aenean</a>
                                                        <div>
                                                            1 x $499.00
                                                        </div>
                                                    </div>
                                                    <!--product price-->
                                                    <button class="close_product"><i class="fa fa-times-circle"></i></button>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <!--product image-->
                                                    <img src="images/shopping_c_img_2.jpg" alt="">
                                                    <!--product description-->
                                                    <div class="product_description">
                                                        <a href="#">Cursus eleifend elit aenean</a>
                                                        <div>
                                                            1 x $1599.00
                                                        </div>
                                                        <div>
                                                            Size: 2-Seat Sofa, <br>
                                                            Color: Red
                                                        </div>
                                                    </div>
                                                    <!--product price-->
                                                    <button class="close_product"><i class="fa fa-times-circle"></i></button>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <!--product image-->
                                                    <img src="images/shopping_c_img_3.jpg" alt="">
                                                    <!--product description-->
                                                    <div class="product_description">
                                                        <a href="#">Cursus eleifend elit aenean</a>
                                                        <div>
                                                            2 x $99.00
                                                        </div>
                                                    </div>
                                                    <!--product price-->
                                                    <button class="close_product"><i class="fa fa-times-circle"></i></button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--total price-->
                                    <div class="total_price">
                                        <ul>
                                            <li><span>Tax :</span><span>$0.00</span></li>
                                            <li><span>Discount :</span><span>$37.00</span></li>
                                            <li><span>Total :</span><span>$999.00</span></li>
                                        </ul>
                                    </div>
                                    <div class="sc_footer">
                                        <button class="button button_grey full_width">View Cart</button>
                                        <button class="button button_orange full_width">Checkout</button>
                                    </div>
                                </div>
                            </div>
                            <button class="search_button button button_orange_hover">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <!--search form-->
                        <div class="searchform_wrap var2">
                            <div class="container vc_child h_inherit relative">
                                <form role="search">
                                    <input type="text" name="search" placeholder="Type search text and hit enter">
                                </form>
                                <button class="close_search_form">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

</template>

<script>


export default {
  name: "AppHeader",

  components: {
  },

};
</script>

