<template>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nuxt-link :to="'/'">
                        Назад
                    </nuxt-link>
                </div>
                <div class="col-12">
                    <h1>
                        {{news.name}}
                    </h1>
                    <div>
                        <img :src="news.detail_img" />
                    </div>
                    <div>
                        <p>
                            {{news.detail_text}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        head: {
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: ''
                }
            ],
            title: "Детальная новости"
        },
        components: {},
        data() {
            return {

            };
        },
        computed: {
            news: function () {
                return this.$store.getters['getNews'];
            },
        },
        created() {
            let params = this.$route.params;

            this.$store.dispatch('getNews', params.id).then(() => {

            }).catch(error => {
                return this.$nuxt.error({statusCode: 404, message: error});
            });
        },
    };
</script>



