<template>
  <div class="wide_layout">

    <div class="wrapper_container ">


      <!--[if (lt IE 9) | IE 9]>
      <div class="ie_message_block">
        <div class="container">
          <div class="wrapper">
            <div class="clearfix"><i class="fa fa-exclamation-triangle f_left"></i><b>Attention!</b> This page may   not display correctly. You are using an outdated version of Internet Explorer. For a faster, safer browsing experience.<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode" class="button button_type_3 button_grey_light f_right" target="_blank">Update Now!</a></div>
          </div>
        </div>
      </div>
      <![endif]-->

      <!--cookie-->
      <!-- <div class="cookie">
              <div class="container">
                <div class="clearfix">
                  <span>Please note this website requires cookies in order to function correctly, they do not store any specific information about you personally.</span>
                  <div class="f_right"><a href="#" class="button button_type_3 button_orange">Accept Cookies</a><a href="#" class="button button_type_3 button_grey_light">Read More</a></div>
                </div>
              </div>
            </div>-->

      <AppHeader></AppHeader>
      <nuxt/>
      <AppFooter></AppFooter>

    </div>

    <!--scripts include-->
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.queryloader2.min.js"></script>
    <script src="/js/jflickrfeed.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/retina.js"></script>
    <script src="/js/apear.js"></script>
    <script src="/js/circles.min.js"></script>
    <script src="/plugins/twitter/jquery.tweet.min.js"></script>
    <script src="/plugins/layerslider/js/greensock.js"></script>
    <script src="/plugins/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="/plugins/layerslider/js/layerslider.transitions.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/script.js"></script>

    <script>
        $(document).ready(function () {
            var colors = [['#fa985d', '#ffffff']], circles = [];
            var child = document.getElementById('circles-3');
            circles.push(Circles.create({
                id: child.id,
                value: 6.2,
                radius: 14,
                width: 3,
                maxValue: 10,
                duration: 1000,
                text: function (value) {
                    return value;
                },
                colors: ['#fa985d', '#ffffff']
            }));

            var child = document.getElementById('circles-4');
            circles.push(Circles.create({
                id: child.id,
                value: 6.2,
                radius: 14,
                width: 3,
                maxValue: 10,
                duration: 1000,
                text: function (value) {
                    return value;
                },
                colors: ['#fa985d', '#ffffff']
            }));

            var child = document.getElementById('circles-8');
            circles.push(Circles.create({
                id: child.id,
                value: 8.0,
                radius: 19,
                width: 3,
                maxValue: 10,
                duration: 1000,
                text: function (value) {
                    return value;
                },
                colors: ['#fa985d', '#ffffff']
            }));

            var child = document.getElementById('circles-9');
            circles.push(Circles.create({
                id: child.id,
                value: 7.7,
                radius: 19,
                width: 3,
                maxValue: 10,
                duration: 1000,
                text: function (value) {
                    return value;
                },
                colors: ['#fa985d', '#ffffff']
            }));

            var child = document.getElementById('circles-10');
            circles.push(Circles.create({
                id: child.id,
                value: 9.2,
                radius: 19,
                width: 3,
                maxValue: 10,
                duration: 1000,
                text: function (value) {
                    return value;
                },
                colors: ['#fa985d', '#ffffff']
            }));

            var child = document.getElementById('circles-11');
            circles.push(Circles.create({
                id: child.id,
                value: 7.4,
                radius: 14,
                width: 3,
                maxValue: 10,
                duration: 1000,
                text: function (value) {
                    return value;
                },
                colors: ['#fa985d', '#ffffff']
            }));

            var child = document.getElementById('circles-12');
            circles.push(Circles.create({
                id: child.id,
                value: 6.5,
                radius: 14,
                width: 3,
                maxValue: 10,
                duration: 1000,
                text: function (value) {
                    return value;
                },
                colors: ['#fa985d', '#ffffff']
            }));

            var child = document.getElementById('circles-13');
            circles.push(Circles.create({
                id: child.id,
                value: 8.6,
                radius: 14,
                width: 3,
                maxValue: 10,
                duration: 1000,
                text: function (value) {
                    return value;
                },
                colors: ['#fa985d', '#ffffff']
            }));

            var child = document.getElementById('circles-14');
            circles.push(Circles.create({
                id: child.id,
                value: 9.3,
                radius: 14,
                width: 3,
                maxValue: 10,
                duration: 1000,
                text: function (value) {
                    return value;
                },
                colors: ['#fa985d', '#ffffff']
            }));
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#layerslider').layerSlider({
                autoStart: false,
                responsive: true,
                skinsPath : '',
                imgPreload : false,
                navPrevNext: true,
                navButtons: false,
                hoverPrevNext: false,
                responsiveUnder : 940
            });
        });
    </script>

  </div>
</template>

<script>
  import AppHeader from "../components/AppHeader";
  import AppFooter from "../components/AppFooter";

  export default {
    components: {
      AppHeader,
      AppFooter,
    }
  };

</script>

